{%extends 'base.html'%}
{%load static%}

{%block contents%}
<style>
    .shadowWrapper {
        font-family: "Book Antiqua";
        background:white;
        margin-top: 50px;
  
    }
  
    .centered-form {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        height: 100vh; /* Make the form take up the full viewport height */
    }
  
    .registration-form {
        max-width: 600px; /* Control the maximum width of the form */
        width: 100%; /* Make the form as wide as its container */
        padding: 20px; /* Add some padding for spacing inside the form */
    }
  </style>
  
  <br><br>
  <div class="slider slider-revolution revolution-slider  fullwidth">
      <div class="centered-form">
              <div class="shadowWrapper">
                  <div class="registration-form">
                          <center>
                                  <h2 class="text-center p-2"><u>Admin Login Form</u></h2>
                              <form action="{%url 'AdminLoginCheck'%}" method="POST"  style="width:100%">

                    {% csrf_token %}
                    
                    <table>
                        <tr>
                            <td class="text-primary">User Name</td>
                            <td>{{form.name}}</td>
                        </tr>
                        <tr>
                            <td>Login ID</td>
                            <td>{{form.loginid}}</td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td>{{form.password}}</td>
                        </tr>
                        <tr>
                            <td>Mobile</td>
                            <td>{{form.mobile}}</td>
                        </tr>
                        <tr>
                            <td>email</td>
                            <td>{{form.email}}</td>
                        </tr>
                        <tr>
                            <td>Locality</td>
                            <td>{{form.locality}}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>{{form.address}}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>{{form.city}}</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>{{form.state}}</td>
                        </tr>
                        <tr>

                            <td>{{form.status}}</td>
                        </tr>
<tr><td></td>
     <td><button type="submit" class="comment_button trans_200">Register</button></td>
                        </tr>


                        {% if messages %}
                        {% for message in messages %}
                        <font color='GREEN'> {{ message }}</font>
                        {% endfor %}
                        {% endif %}

                    </table>

                </form>
                                                 </center>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}
